<template>
  <div class="book-item">
    <div class="book-cover-wrapper">
      <img
        :src="data.cover"
        alt="book-cover"
      >
    </div>
    <div class="detail-wrapper">
      <div class="title" :title="data.title">
        {{ data.title }}
      </div>
      <div class="price">
        ฿<b>{{ data.price }}</b>
        <i
          class="material-icons add_box"
          @click="addBook(data)"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
      required: true,
    },
  },
  methods: {
    addBook(book) {
      this.$store.commit('cart/addBookToCart', book)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/scss/variables.scss';

.book-item {
  width: 140px;
  overflow: hidden;
  margin: 16px;
  > .book-cover-wrapper {
    width: 100%;
    max-height: 210px;
    overflow: hidden;
    > img {
      width: 100%;
      object-fit: cover;
    }
  }
  > .detail-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    > .title {
      text-decoration: underline;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
    }
    > .price {
      color: $primary-color;
      display: flex;
      align-items: center;
      > .add_box {
        cursor: pointer;
        color: $primary-color;
        margin-left: auto;
      }
    }
  }
}
</style>
