<template>
  <aside>
    <div class="cart">
      <p class="header">
        Products
      </p>
      <div
        class="no-data"
        v-if="cart.length === 0"
      >
        You haven't added any book in cart.
      </div>
      <div class="cart-item-wrapper">
        <CartItem
          v-for="(book, index) in cart"
          :key="index"
          :index="index"
          :data="book"
        />
      </div>
      <div class="sub-total">
        <div class="title">
          Subtotal
        </div>
        <div class="price">
          ฿{{ subtotal }}
        </div>
      </div>
      <div class="discount">
        <div class="title">
          Discount
        </div>
        <div class="price">
          ฿{{ discount }}
        </div>
      </div>
      <div class="net">
        <div class="title">
          NET
        </div>
        <div class="price">
          ฿{{ net }}
        </div>
      </div>
      <input
        type="number"
        class="customer-credit"
        placeholder="Input customer's credit"
        v-model="money"
      >
      <div class="change">
        <div class="title">
          Change
        </div>
        <div class="price">
          ฿{{ change }}
        </div>
      </div>
      <button
        class="confirm"
        :disabled="cart.length === 0 || change === 0"
        @click="checkout"
      >
        CONFIRM
      </button>
    </div>
  </aside>
</template>

<script>
import { mapGetters } from 'vuex'
import CartItem from '@/components/CartItem'

export default {
  components: {
    CartItem,
  },
  data() {
    return {
      money: null,
    }
  },
  computed: {
    ...mapGetters({
      cart: 'cart/filterCart',
    }),
    subtotal() {
      return this.cart.reduce((sum, book) => sum + (book.price * book.amount), 0)
    },
    discount() {
      const { cart, subtotal } = this
      if (cart.length === 2) {
        return parseInt((subtotal * 10) / 100, 10)
      }
      if (cart.length === 3) {
        return parseInt((subtotal * 11) / 100, 10)
      }
      if (cart.length === 4) {
        return parseInt((subtotal * 12) / 100, 10)
      }
      if (cart.length === 5) {
        return parseInt((subtotal * 13) / 100, 10)
      }
      if (cart.length === 6) {
        return parseInt((subtotal * 14) / 100, 10)
      }
      if (cart.length === 7) {
        return parseInt((subtotal * 15) / 100, 10)
      }
      return 0
    },
    net() {
      const { discount, subtotal } = this
      return subtotal - discount
    },
    change() {
      const { net, money } = this
      if (money - net > 0) {
        return money - net
      }
      return 0
    },
  },
  methods: {
    checkout() {
      const id = Math.random().toString(36).substr(2, 9)
      const {
        cart,
        net,
        subtotal,
        discount,
        change,
        money,
      } = this
      const history = {
        id,
        items: cart,
        net,
        subtotal,
        discount,
        change,
        money,
      }
      this.$store.commit('history/addHistory', history)
      this.$store.commit('cart/resetCart')
      this.$router.push(`/history/${id}`)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/scss/variables.scss';

aside {
  flex: 0 0 380px;
  > .cart {
    position: fixed;
    right: 0;
    top: 76px;
    bottom: 0;
    width: 352px;
    padding: 24px 12px;
    z-index: 900;
    background-color: #ffffff;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    > .header {
      text-align: center;
      font-weight: bold;
    }
    > .no-data {
      margin: 24px 0;
      color: #aaaaaa;
      text-align: center;
      font-size: 12px;
    }
    > .cart-item-wrapper {
      max-height: 264px;
      overflow-y: auto;
      margin: 24px 0;
    }
    > .sub-total, .discount, .net, .change {
      display: flex;
      justify-content: space-between;
    }
    > .discount {
      color: #aaaaaa;
    }
    > .net {
      font-weight: bold;
      margin-top: 12px;
    }
    > .customer-credit {
      width: 100%;
      outline: 0;
      border: 1px solid #aaaaaa;
      padding: 12px 8px;
      margin: 24px 0;
    }
    > .confirm {
      margin-top: 24px;
      width: 100%;
      outline: none;
      background: $theme-color;
      border: 0;
      color: #ffffff;
      padding: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.2);
      }
      &:disabled {
        filter: grayscale(1);
        cursor: not-allowed;
      }
    }
  }
}
</style>
