<template>
  <div class="book-wrapper">
    <div class="cover-wrapper">
      <img
        :src="data.cover"
        alt="cover"
      >
    </div>
    <div class="detail-wrapper">
      <div class="title">
        {{ data.title }}
      </div>
      <div class="price">
        ฿ {{ data.price }} x {{ data.amount }} = ฿{{ total }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
      required: true,
    },
  },
  computed: {
    total() {
      const { price, amount } = this.data
      return price * amount
    },
  },
}
</script>

<style lang="scss" scoped>

.book-wrapper {
  display: flex;
  height: 100px;
  margin-bottom: 12px;
  > .cover-wrapper {
    height: 100%;
    > img {
      height: 100%;
    }
  }
  > .detail-wrapper {
    padding: 12px;
  }
}
</style>
